{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}

    {% block title %}
      Confirm site

    {% endblock %}

    {% block body %}
  </br>
  <div class="col-md-8">
    <div class="box box-primary">
      <div class="box-header with-border">
              <h3 class="box-title">Confirm Site</h3>
        </div>

          <br/>
    <form role="form" method="post">
      {{ form.csrf_token }}
      <div class="box-body">
          {{ wtf.quick_form(form) }}
      </div>
    </form>
  </div>
</div>

  {% endblock %}
