
{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Schedule deployments{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">Schedule deployments</h1>
        {% if schedule_list %}
          <hr class="intro-divider">
          <div class="center">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th width="15%"> Agent name </th>
                  <th width="15%"> Business name </th>
                  <th width="15%"> Location </th>
                  <th width="15%"> Business type </th>
                  <th width="10%"> Actions</th>
                </tr>
              </thead>
              <tbody>
              {% for schedule in schedule_list %}
                <tr>
               {% if schedule.status =='Approved' %}
                  <td> {{ schedule.agent_name }} </td>
                  <td> {{ schedule.business_name }} </td>
                  <td> {{ schedule.site_location }} </td>
                  <td> {{ schedule.business_type }} </td>

                  <td>
                    <a href="#">
                      <i class="fa fa-pencil"></i> Edit
                    </a>
                  </td>

                  <td>
                    <a href="{{ url_for('deployments.add_schedule', id=schedule.id) }}">
                    <button type="button" class="btn btn-block btn-primary btn-sm"> schedule </button>
                    </a>
                  </td>

                {% endif %}
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
